.page .v-responsive, .header .v-responsive {
  max-width: 1200px;
  color: #666666;
}
.v-responsive__content {
  padding: 0 0 5px 0;
}
#appHeader.v-toolbar {
  background-color: #9ccc65 !important;
}
#appHeaderIndex.v-toolbar {
  background-color: transparent;
  /* background-color: rgba(153, 153, 153, 0.6) !important; */
  box-shadow: none !important;
}
header.v-app-bar {
  z-index: 1000 !important;
}
header.v-toolbar, .v-toolbar__content {
  height: 90px !important;
}
.v-footer, main {
  background-color: #dbdfd7 !important;
  color: #0d47a1 !important;
  padding-left: 0 !important;
}
#appIntro .v-footer {
  background-color: #9ccc65 !important;
}
.v-card {
  border-radius: 0 !important;
  color: #666666 !important;
}
.v-input__slot, .v-input__slot div label.primary--text {
  color: #9ccc65 !important;
}
